
<h1><%= @user.name %></h1>

<%= link_to "#{@user.name}のお気に入り一覧",likes_user_path(@user) %>

<h2>投稿一覧</h2>

<% @user.posts.each do |post|%>
	<div>
		<h1>
			<%= link_to "タイトル：#{post.title}" ,post_path(post.id) %>
		</h1>
		<span>
			<%= link_to "削除!!", destroy_post_path(post), method: :delete %>
		</span>

	</div>

<% end %>








